.Topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 2;
  padding: 10px;
  transition: 200ms ease-in-out;
}
.Topnav .logo {
  height: 50px;
  margin-right: 8px;
}
.Topnav .toggle {
  height: 45px;
  width: 45px;
  transition: 200mes ease-in-out;
  cursor: pointer;
}
.Topnav .toggle:hover {
  transform: scale(1.03);
}
.Topnav h1 {
  font-weight: 400;
  text-transform: capitalize;
}
.Topnav .search {
  display: flex;
  align-items: center;
  position: relative;
}
.Topnav .search img {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 20px;
}
.Topnav .search input {
  width: 500px;
  height: 32px;
  padding: 24px 54px;
  border: 2px solid #f9f9f9;
  outline: none;
  border-radius: 25px;
  font-family: var(--font);
  transition: 200ms ease;
  font-size: 15px;
  color: var(--grey);
}
.Topnav .search input:focus {
  border: 2px solid var(--light-grey);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.Header p {
  color: var(--light-grey);
  margin-bottom: 6px;
  text-transform: capitalize;
}
.Header h1 {
  color: var(--dark);
  font-size: 24px;
}
.Header button {
  padding: 10px 32px;
  border: 2px solid #f9f9f9;
  background: transparent;
  border-radius: 25px;
  text-align: center;
  color: var(--dark);
  cursor: pointer;
  transition: 200ms ease;
  font-family: var(--font);
}
.Header button:hover {
  border: 1.5px solid var(--light-grey);
}

.Blogs {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Blogs a {
  text-decoration: none;
}
.Blogs .card {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 40px;
  border: 2px solid #f9f9f9;
  transition: 200ms ease;
}
.Blogs .card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.1);
}
.Blogs .card span {
  background-size: cover;
  display: block;
  height: 200px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
}
.Blogs .card h1 {
  color: var(--dark);
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
}
.Blogs .card .description {
  color: var(--grey);
  height: 7ch;
  overflow: hidden;
  margin-bottom: 8px;
}
.Blogs .card footer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.Blogs .card footer .author {
  color: var(--grey);
  font-size: 16px;
  margin-right: 16px;
}
.Blogs .card footer .source {
  font-size: 14px;
  color: var(--light-grey);
  margin-right: 8px;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.error h1 {
  color: var(--dark);
  margin-top: 40px;
}
.error a {
  width: 300px;
}
.error button {
  height: 50px;
  width: 100%;
  background: var(--grey);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-family: var(--font);
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.error button:hover {
  opacity: 0.8;
}

@media only screen and (min-device-width: 0) and (max-device-width: 767px) {
  body {
    font-size: 18px;
    line-height: 1.5;
  }
  .Topnav {
    display: block;
    width: 100%;
    padding-bottom: 20px;
  }
  .Topnav .logo {
    display: none;
  }
  .Topnav .toggle {
    display: none;
  }
  .Topnav input {
    max-width: 100%;
  }
  .Header button {
    display: none;
  }
  .error button {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */